.btn{
    color: var(--white);
    background-color: var(--blue);
    border-radius: 4vw;
    padding: 1vh 2vw;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    /* border: 2px solid var(--white); */
    min-width: 100px;
    text-transform: capitalize;
}
.btn:hover{
  box-shadow: 5px 5px 10px rgba(58,128,233,0.5);
  transition: all 0.3s;
}
.outlined_btn{
    color: var(--white);
    background-color: var(--black);
    border-radius: 4vw;
    padding: 1vh 1.5vw;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    border: 2px solid var(--blue);
    min-width: 100px;
    text-transform: capitalize;
}
.outlined_btn:hover{
    background-color: var(--blue);
    /* border: 2px solid var(--white); */
    box-shadow: 5px 5px 10px rgba(58,128,233,0.5);
    transition: all 0.3s
}